.keyview-container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


.keyview-keyword-banner{
    padding: 1rem 2.5rem;
    font-weight: 300;

    box-shadow: 0 6px 9px rgba(0,0,0,0.14);
    border-radius: .75rem;

    background-color: #D9AFD9;
    background-image: linear-gradient(114deg, #D9AFD9 0%, #97D9E1 41%, #ffffff 100%);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.keyview-keyword-banner >h2{
    font-weight: 400;
    margin-right: auto;
}



span.big{
    font-size: 2rem;
}

.keyview-cube-list{
    margin: 1rem 0;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    height: calc(100px + 9vmax);
}

.keyview-cube{
    --width:calc(100px + 8vmax);
    flex:0 0 auto;
    /* background-color: darkcyan; */
    height: 100%;
    width: var(--width);

    box-shadow: 0 6px 9px rgba(0,0,0,0.14);
    padding:.5rem 1rem;
    
    backdrop-filter: blur(2px);
}


/* emotion-analyse */
.emotion-analyse{
    overflow: hidden;
}

.emotion-analyse h3{
    font-weight: 300;
}


.emotion-analyse > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    list-style: none;
    padding: 1rem 0 0;
}

.emotion-analyse > ul > li{
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-basis: calc(calc(var(--width) / 2) - 1.5rem);
}


/* word cloud */

.keyview-cube > .word-cloud > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* sentiment-distribution */

.keyview-cube > .sentiment-wrapper{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* kol list */
.keyview-cube > .kol-wrapper{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.keyview-post-list{
    padding: 1rem 0;
    margin-top: 1rem;
    box-shadow: 0 6px 9px rgba(0,0,0,0.14);
    border-radius: .75rem;

    overflow: hidden;

    position: relative;
}

.prev,.next{
    cursor: pointer;
    z-index: 99;
}

.keyview-post-list > .prev{
    position: absolute;
    top: calc(50% - 20px);
    left: 5px;

    display: flex;
    align-items: center;
    opacity: .2;
}

.keyview-post-list > .next{
    position: absolute;
    top: calc(50% - 20px);
    right: 5px;
    /* bottom: 0; */

    display: flex;
    align-items: center;
    opacity: .2;
}

.prev:hover,.next:hover{
    opacity: 1;
}

.keyview-wrapper{
    position: relative;
}

.keyview-wrapper > div{
    position: relative;
    transition: all 0.2s ease-in-out;
}


/* media list 样式 */

.keyview-mediafile-list{
    padding: 1rem 2rem;
    box-shadow: 0 6px 9px rgba(0,0,0,0.14);
    margin-top: 1.5rem;
    border-radius: .75rem;

    min-width: 200px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}


.keyview-mediafile-item{
    height: 175px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.keyview-mediafile-item > img{
    max-width: 120px;
    max-height: 100%;
    cursor: pointer;
}
