.window-container{
    margin:1rem 2rem 2rem;
}
.window-container > h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.window-real-container{
    display: flex;
    overflow-x: visible;
    flex-flow: row nowrap;
    gap: 20px;
    width: 840px;
}

@media screen and (max-width: 1100px) {
    .window-real-container{
        flex-flow: column wrap;
    }
}

@media screen and (min-width: 1524px) {
    .window-real-container{
        width: 1240px;
    }
}


@media screen and (min-width: 1930px) {
    .window-real-container{
        width: 1660px;
    }
}

.window-item{
    position: relative;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.12);
    padding: 1rem 2rem;
    max-width: 400px;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
}

.window-item-content{
    font-weight: 500;

}

.window-item-bottom{
    margin-top:auto;
}

.window-item-emotion{
    margin-left: auto;
    margin-right: auto;
}


.window-item-badge{
    display: flex;
    align-items: center;
}


.window-item-weibo{
    margin-right: auto;
    margin-bottom: -.4rem;
    cursor:pointer;
}
.window-item-time{
    margin-right: auto;
}