.sidebar-container{
    width: 200px;

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.sidebar-ul{
    height: 100%;
    margin: 2rem 1rem;
    padding: 2rem 1rem;
    list-style-type: none;
    border-radius: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: .75rem;
    box-shadow: 0 6px 9px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.12);
}


.sidebar-ul > li{
    display: inline-flex;
    padding: .5rem 1rem;
    height: 4rem;
    
    justify-content: space-between;
    align-items: center;
    color:black;

    cursor: pointer;

    transition: all .1s ease-in-out;
}

.sidebar-ul > li:hover{
    transform: scale(1.2);
}

.sidebar-ul > li > svg{
    margin-right: .5rem;
}

.sidebar-ul > li + li{
    margin-top: 2rem;
}

.active{
    background-color: #f5f5f5;
}


/* sidebar user part */

.sidebar-user{
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    padding: .25rem .5rem;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;


    box-shadow: 0 6px 9px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.12);
    border-radius: .75rem;

    overflow: hidden;
    white-space: nowrap;
}

.sidebar-user-name{
    margin:0;
    padding: 0;

    font-size: 1.25rem;
    color:red;
}

span.sidebar-user-mail{
    color:rgb(17, 160, 216);
}